body{
 
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;

  font-size: 25px;
  line-height: 1.6;
  color: #333;
} 

/*header*/
.header{
  background-image: url('/pic/20.jpg');
  border-radius: 0 0 50px 50px;
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner{
  
  display: flex;
  justify-content: space-between;
  text-align: center;

}
.intro__logo{
  
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.nav{
 margin: 40px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav__link{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;

  color: white;
  text-decoration: none;

  transition: color 0.2s linear;
}
.nav__link:hover{
  color:#21565d;
}

.flex{
margin: 70px;
font-size: 15px;
color: #333;
display: flex;
padding: 100px;
flex-direction: row;
justify-content: left;
}
.item{
  margin: 0 40px;
}
.btn{
  background-color: #333;
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;


  border: 3px solid #333;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 1.2s linear;
}
.btn:hover{
  background-color: #333;
  color: #333;
}
hr{
  
  background-color: #333;
  color: #333;
  margin: 70px;
  

}
h2{
  font-size: 15px;
}